<ul>
  <div class="left-container">
    <li><a href="">Home</a></li>
    <li><a href="">About</a></li>
    <li><a href="">Socials</a></li>
  </div>
  <div class="right-container">
    <li><a href="">Cart</a></li>
  </div>
</ul>

<style>
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: lightblue;
    justify-content: space-between;
    padding-inline: 20px;
  }

  .left-container {
    display: flex;
    width: 50%;
    justify-content: space-between;
  }

  .right-container {
    display: flex;
    justify-content: right;
  }

  li {
    border: 1px solid black;
    background-color: white;
    padding: 10px;
  }

  a {
    text-decoration: none;
    color: green;
  }
</style>
