---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<div id="container">
  <main>
    <h1>Hello new-feature branch, edited</h1>
	<h2>Planning on merging with main branch</h2>
  </main>
</div>

<style></style>
