---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<div id="container">
  <main>
    <h1>Hello main branch... again</h1>
  </main>
</div>

<style></style>
